kedro
kedro-viz
mlflow
pandas==0.25.1
numpy==1.16.4
scipy==1.2.1
numexpr==2.6.9
torch==1.1.0
torchvision==0.3.0
pytorch-ignite==0.2.1
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
allennlp==0.8.5
spacy==2.2.1
tensorboard==2.0.0
tensorboardX==1.9
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-hub==0.6.0
tensorflow-probability==0.8.0
click==7.0
flatten-dict==0.1.0
ipython>=7.0.0, <8.0
jupyter>=1.0.0, <2.0
jupyterlab==0.31.1
nbstripout==0.3.3
pytest>=3.4, <4.0
pytest-cov>=2.5, <3.0
pytest-mock>=1.7.1,<2.0
wheel==0.32.2
sphinx>=2.1
sphinx_rtd_theme==0.4.1
nbsphinx==0.3.4
nbstripout==0.3.3
recommonmark==0.5.0
sphinx-autodoc-typehints>=1.7.0
typed_ast>=1.4.0
sphinx_copybutton==0.2.5
jupyter_client>=5.1.0, <6.0
tornado>=4.2, <6.0
ipykernel>=4.8.1, <5.0
docutils==0.14
easydict==1.9
gensim==3.6.0
geopy==1.17.0
h5py==2.8.0
imbalanced-learn==0.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-vis==0.4.1
lightgbm==2.2.3
lucid==0.3.8
matplotlib==3.0.3
matplotlib-venn==0.11.5
mesh-tensorflow==0.0.5
networkx==2.3
nltk==3.2.5
opencv-contrib-python==3.4.3.18
opencv-python==3.4.5.20
pandas-datareader==0.7.0
pandas-gbq==0.4.1
pandas-profiling>=2.0.0
Pillow==4.3.0
plotly
pyarrow==0.12.0
python-louvain==0.13
pytz==2018.9
PyWavelets==1.0.3
PyYAML<6.0,>=5.1
requests==2.21.0
scikit-image==0.15.0
scikit-learn==0.21.3
seaborn==0.9.0
sklearn-pandas==1.8.0
SQLAlchemy==1.3.5
statsmodels==0.10.0
tflearn==0.3.2
torchsummary==1.5.1
torchtext==0.3.1
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
fastai==1.0.57
pytorch-lightning==0.4.5
tqdm==4.28.1
xgboost==0.90
vprof==0.37.6
vaderSentiment==3.2.1
pyLDAvis==2.1.2
catboost==0.15.2
python-geohash==0.8.5
pycausalimpact==0.0.12
lime==0.1.1.35
shap==0.29.3
pyspark==2.4.3
six==1.12.0
yappi==1.0
ax-platform==0.1.3
dtreeviz==0.5
pygraphviz
pipdeptree
nested-lookup
isort
black
xonsh
flake8
mypy
geopandas
Werkzeug>=0.15.5
ludwig
Cython==0.29.10
koalas>=0.17.0
category_encoders
featuretools
boruta
modin
parse
catalyst
twine
