torch
spacy
transformers
kedro
kedro-viz
mlflow
pandas
numpy
scipy
numexpr
pytorch-ignite
pytorch-pretrained-bert
pytorch-transformers
tensorboard>=2
tensorflow>=2
tensorflow-estimator>=2
tensorflow-hub
click
flatten-dict
ipython
jupyter
jupyterlab
nbstripout
pytest
pytest-cov
pytest-mock
wheel
sphinx
sphinx_rtd_theme
nbsphinx
nbstripout
recommonmark
sphinx-autodoc-typehints
typed_ast
sphinx_copybutton
jupyter_client
tornado
ipykernel
docutils
easydict
gensim
geopy
h5py
imbalanced-learn
Keras
Keras-Applications
Keras-Preprocessing
keras-vis
lightgbm
lucid
matplotlib
networkx
nltk
opencv-contrib-python
opencv-python
pandas-datareader
pandas-gbq
pandas-profiling
Pillow
plotly
pyarrow
python-louvain
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
seaborn
sklearn-pandas
SQLAlchemy
statsmodels
torchsummary
torchtext
pytorch-pretrained-bert
pytorch-transformers
tqdm
xgboost
vprof
vaderSentiment
pyLDAvis
catboost
python-geohash
pycausalimpact
lime
shap
pyspark
six
yappi
dtreeviz
pygraphviz
pipdeptree
nested-lookup
isort
black
xonsh
flake8
mypy
geopandas
Werkzeug
Cython
koalas
category_encoders
featuretools
modin
parse
twine